@import url(components/base.css);
@import url(components/section.css);
@import url(components/repo.css);

:root {
	/* Colors */
	--color-primary: #157ecf;
	--color-secondary: #f80a2f;

	--color-neutral-lighter: #e9e9e9;
	--color-neutral-light: #ccc;
	--color-neutral: #999;
	--color-neutral-dark: #666;
	--color-neutral-darker: #222;

	/* Breakpoints */
	--mq-sm-width: 20rem;
	--mq-md-width: 40rem;
	--mq-lg-width: 60rem;
	--mq-xl-width: 80rem;

	// Spacing
	--space-xs: calc(var(--space) / 4);
	--space-sm: calc(var(--space) / 2);
	--space: 1.5rem;
	--space-lg: calc(var(--space) * 2);
	--space-xl: calc(var(--space) * 3);
}
