:root {
	/* Neutral colors */
	--color-neutral-lighter: hsl(210, 17%, 35%);
	--color-neutral-light: hsl(210, 16%, 24%);
	--color-neutral: hsl(210, 15%, 18%);
	--color-neutral-dark: hsl(210, 17%, 12%);
	--color-neutral-darker: hsl(210, 18%, 9%);

	/* Primary colors */
	--color-primary-lighter: hsl(170, 42%, 54%);
	--color-primary-light: hsl(170, 58%, 42%);
	--color-primary: hsl(170, 100%, 30%);
	--color-primary-dark: hsl(170, 100%, 25%);
	--color-primary-darker: hsl(170, 100%, 20%);

	/* Breakpoints */
	--mq-sm-width: 20rem;
	--mq-md-width: 40rem;
	--mq-lg-width: 60rem;
	--mq-xl-width: 80rem;

	/* Spacing */
	--space-xs: calc(var(--space) / 4);
	--space-sm: calc(var(--space) / 2);
	--space: 1.5rem;
	--space-lg: calc(var(--space) * 2);
	--space-xl: calc(var(--space) * 3);
}

/* Base */
html,
body {
	height: 100%;
}

body {
	font-family: 'Raleway', sans-serif;
	background-color: var(--color-neutral);
	color: hsl(170, 100%, 100%);
	margin: 0;
}

a {
	color: var(--color-primary);
	transition: color 0.2s;
}

a:hover {
	color: var(--color-secondary);
}

/* Page */
.Page {
	height: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.Page-inner {
	margin: 0 auto 20vh;
	max-width: var(--mq-md-width);
}

h1 {
	font-weight: 400;
}

.Section-inner {
	max-width: var(--mq-xl-width);
	margin: 0 auto;
}

/* Repos */
.Repos {
	padding: var(--space-lg) var(--space);
	margin: var(--space-lg) auto;
	position: relative;
	border-top: 1px solid var(--color-primary);
	border-bottom: 1px solid var(--color-primary);
}

.Repos:before {
	top: 0;
}

.Repos:after {
	bottom: 0;
}

.Repo {
	display: block;
	font-size: 1.2em;
	font-weight: 700;
	text-decoration: none;
	margin: var(--space-sm) auto;
}

/* Footer */
.Footer svg {
	transition: fill 0.2s;
}

.Footer:hover svg {
	fill: var(--color-secondary);
}
